<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> MyBox V4.0</title>

    <!-- ========== Javasript and CSS files  ========= -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="static/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet "href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle/css/bootstrap4-toggle.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/Chart.min.js"></script>
    <script src="static/js/jquery.dataTables.min.js"></script>
    <script src="static/js/dataTables.bootstrap5.min.js"></script> 
    <script src="static/js/query-3.5.1.js"></script> 
    <script src="static/js/mychart.js"></script> 
  </head>

  <body>
    <!-- ========== Nav bar ========= -->
    <div id="wrapper">
      <div class="d-flex flex-column" id="content-wrapper">
          <div id="content">
              <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar ">
                  <div class="container-fluid">
                 
                    <!-- Titre -->   
                    <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search" style="font-size: 32px;">
                      <img src="static/images/mybox.jpeg"  style="width: 100px;height: 80px; margin:0px">
                    </form>
                    <!-- fin Titre --> 

                    <!-- Menu -->                  
                    <div class="d-none d-sm-block topbar-divider"></div>
                      <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                        <img class="img-profile" src="static/images/profile.png"></a>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in ">
                            <li><a class="dropdown-item" href="#exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal">A propos</a></li>
                            <li><a class="dropdown-item" href="/reboot">Reboot</a></li>   
                            <li><a class="dropdown-item" href="/shutdown">Shutdown</a></li> 
                        </div>
                      </div>
                    </div>  
                    <!-- fin Menu -->

                    <!-- Modal (A propose de) -->
                    <div class="modal fade" id="exampleModal" tabindex="-5 " aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">A propos de MyBox</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                MyBox est un boitier électrique comprenant 4 relais avec prises 240V commandées par un Raspberry Pi zero (GPIO). 
                                Il comprend aussi une sonde de température de type 18BS20 ainsi qu'un thermostat pour piloter le chauffage en fonction de températures minimale et maximale définie.
                                L'ensemble se contrôle au travers d'une interface web en Bootstrap 5 / Flask / Ajax compatible avec les smartphones. <br/>
                                <br/>
                              </div>
                              <div class="modal-footer">
                                V4.0 Patrick Pinard 2021
                              </div>
                            </div>
                          </div>
                      </div>
                    <!-- fin Modal (A propose de) -->
                    </div>
                  </div>
              </nav>
            </div>
      </div>
      <!-- ========== end Nav bar ========= -->

      <!-- ========== Relay, Thermostat and Camera view  ========== -->

      <div class="container-fluid">
        <div class="title-wrapper pt-0"> 
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="card h-100">
                <div class="card-header">
                  <span><i class="bi bi-plug me-2"></i></span> Relais
                </div>
                <br/>
                <div class="form-check pl-0">
                  {% if pins[17].state == true %} 
                  <input id="17" value="17" class="form-check-input" type="checkbox" data-toggle="toggle" unchecked onchange="check(this.id,this.checked)">
                  {% else %} 
                  <input id="17" value="17" class="form-check-input" type="checkbox" data-toggle="toggle" checked onchange="check(this.id,this.checked)">
                  {% endif %} 
                  
                  <label for="17" class="form-check-label text-bold mb-20" style="margin:20px; font-size:20px"> Lampe LED </label>
                </div>
                <br />
                <div class="form-check pl-0">
                  {% if pins[27].state == true %} 
                  <input id="27" value="27" class="form-check-input" type="checkbox" data-toggle="toggle" unchecked onchange="check(this.id,this.checked)">
                  {% else %} 
                  <input id="27" value="27" class="form-check-input" type="checkbox" data-toggle="toggle" checked onchange="check(this.id,this.checked)">
                  {% endif %} 
                  <label for="27" class="form-check-label text-bold mb-20" style="margin:20px; font-size:20px"> Prise 240V </label>
                </div>
                <br />
                <div class="form-check pl-0">
                  {% if pins[22].state == true %} 
                  <input id="22" value="22" class="form-check-input" type="checkbox" data-toggle="toggle" unchecked onchange="check(this.id,this.checked)">
                  {% else %} 
                  <input id="22" value="22" class="form-check-input" type="checkbox" data-toggle="toggle" checked onchange="check(this.id,this.checked)">
                  {% endif %} 
                  <label for="22" class="form-check-label text-bold mb-20" style="margin:20px ; font-size:20px"> Chauffage </label>
                </div>
                <br />
                <div class="form-check pl-0">
                  {% if camera == true %}       
                  <input id="CAMERA" value="ON" class="form-check-input" type="checkbox" data-toggle="toggle" checked onchange="camera(this.checked)">
                  {% else %} 
                  <input id="CAMERA" value="OFF" class="form-check-input" type="checkbox" data-toggle="toggle" unchecked onchange="camera(this.checked)">
                  {% endif %} 
                  <label class="text-bold mb-20" style="margin:20px; font-size:20px" > Camera atelier </label> 
                </div>     
              </div>
            </div>
          
            

            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="card h-100">
                <div class="card-header">
                  <span><i class="bi bi-thermometer-snow me-2"></i></span> Températures & Thermostat
                </div>
                <div class="row g-0">
                    <div class="content" style="margin:10px">
                      <span><i class="bi bi-house me-2" style="font-size:70px; margin-left: 10px;" ></i> {{ Tin }} °C</span> 
                      <span><i class="bi bi-sun me-2" style="font-size:70px; margin-left: 10px;" ></i></span> {{ Tout }} °C
                     
                      <form method="POST" role="form" action="/" class="center-block">
                        <button type="submit" class="btn btn-primary"  name="refresh" value="refresh">Rafraichir</button> 
                      </form> 

                      <br />

                      <form role="form" method="POST" action="/set_thermostat">
                        {% if Thermostat == true %} 
                          <input type="checkbox" name="Thermostat" checked value="edit" style="width: 30px; height: 30px">  
                        {% else %} 
                          <input type="checkbox" name="Thermostat" unchecked style="width: 30px; height: 30px">
                        {% endif %}
                        <label class="text-bold mb-10" style="font-size:20px; margin:20px"> Thermostat </label>
                        <div class="text text-primary fw-bold text-xs mb-1"><span> Température minimale : {{ Tmin }} °C</span></div>
                        <input type="range" min="0" max="30" value={{Tmin}} class="slider" style="width: 250px; height: 30px" id="myRange" name="Tmin" oninput="num.value = this.value">
                        <output class="text text-primary fw-bold text-xs mb-1" id="num">0</output>
                        <div class="text text-primary fw-bold text-xs mb-1"><span> Température maximale : {{ Tmax }} °C</span></div>
                        <input type="range" min="0" max="30" value={{Tmax}} class="slider" style="width: 250px; height: 30px" id="myRange" name="Tmax" oninput="num2.value=this.value">
                        <output class="text text-primary fw-bold text-xs mb-1" id="num2">0</output>
                        <br/>
                        <button type="submit" class="btn btn-primary mb-3">Appliquer</button>
                      </form> 

                    </div>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-4 col-sm-6">
              <div class="card h-100">
                <div class="card-header">
                  <span><i class="bi bi-table me-2"></i></span> Event Logs
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      id="eventlog"
                      class="table table-striped data-table display compact" style="width: 100%; max-height: 100px;">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Heure</th>
                          <th>Description</th>
                        </tr>
                        </thead>
                          <tbody>
                            {% for e in eventlog %}
                            <tr>
                                <td>{{e["date"]}}</td>
                                <td>{{e["time"]}}</td>
                                <td>{{e["what"]}}</td>
                            </tr> 
                            {% endfor %}
                          </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Row -->
        </div>
        <br/>

        <!-- ========== Camera  ========== -->
        {% if camera == true %} 
        <div class="row">
          <div class="col-lg-12">
            <div class="col-xl-12 col-lg-4 col-sm-6">
              <div class="card h-100">
                <div class="card-header">
                  <span><i class="bi bi-camera-video me-2"></i></span> Camera Atelier  
                </div>
                <br/>
                <div class="form-check pl-0">
                  <center>
                    <img src="http://picamera.ppdlab.ch/video_feed" width="90%" > 
                  </center>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <!-- ========== fin Camera  ========== -->
        <br/>
        <!-- ========== Graphique  ========== -->
        
        <div class="row">
          <div class="col-lg-12">
            <!--- <div class="card-style mb-30"> --->
            <div class="card h-300">
              <div class="card-header">
                <span><i class="bi bi-graph-up me-2"></i></span> Graphique : Thermostat & Températures 
              </div>
              <br />
              <!--- <div class="title d-flex flex-wrap justify-content-between">  --->
              <div class="chart">
                <canvas id="Chart1" style="width: 100%; height: 300px"></canvas>
              </div>
          </div>
        </div>
        <!-- ========== fin Graphique  ========== -->
      
      <!-- end container -->  
      </div>
    </div>
    </main>
    <!-- ======== main-wrapper end =========== -->
    
      

      <script>
        
        // table des eventLog (dataTable)

        $(document).ready( function () {
            $('#eventlog').DataTable({
          "scrollY"       : "300px",
          "scrollCollapse": true,
          "paging"        : true,
          "stateSave"     : true
          } );
        } );

      </script>
      
      <script>

      // fonction appelée lors d'un changement d'état d'un switch et qui fait une requete http get avec arguments pin (id) et checked (state)

      function check(id,checked) {
        $.ajax({
           url: "/togglerelay",
           type: "get",
          data: {id:id, checked:checked},
          success: function(response) {
           $(status_class).html(response);
          }
        })
      }
      </script>
      
      <script>

        // fonction appelée lors d'un changement d'état du switch camera pour visualiser le stream de picamera.ppdlab.ch
  
        function camera(value) {
          $.ajax({
             url: "/camera",
             type: "get",
            data: {value:value},
            success: function(response) {
             $(status_class).html(response);
            }
          })
        }
        </script>

    
    <script>
    
    // =========== Graphiques

    var ctx1 = document.getElementById("Chart1").getContext("2d");
    var chart1 = new Chart(ctx1, {
     
      type: "line", 

    
      data: {
        labels: 
        [{% for item in labels %}
          "{{item}}",
          {% endfor %}],
       
        datasets: [
          {
            label: "intérieure",
            backgroundColor: "transparent",
            borderColor: "#2F80ED",
            data: [
              {% for item in inhouse_temp %}
              "{{item}}",
              {% endfor %}
            ],
            pointBackgroundColor: "transparent",
            pointHoverBackgroundColor: "#2F80ED",
            pointBorderColor: "transparent",
            pointHoverBorderColor: "#fff",
            pointHoverBorderWidth: 5,
            pointBorderWidth: 5,
            pointRadius: 8,
            pointHoverRadius: 8,
            order: 1,
          },{
            label: 'extérieure',
            backgroundColor: "transparent",
            borderColor: "#f39c12",
            data: [{% for item in outside_temp %}
              "{{item}}",
              {% endfor %}],
            pointBackgroundColor: "transparent",
            pointHoverBackgroundColor: "#2F80ED",
            pointBorderColor: "transparent",
            pointHoverBorderColor: "#fff",
            pointHoverBorderWidth: 5,
            pointBorderWidth: 5,
            pointRadius: 8,
            pointHoverRadius: 8,
            order: 2,
          },
          {
            label: 'chauffage',
            lineTension: 0,
            steppedLine: true,
            backgroundColor: "transparent",
            borderColor: "#f12b24",
            data: [{% for item in chauffage %}
              "{{item}}",
              {% endfor %}],
            pointBackgroundColor: "transparent",
            pointHoverBackgroundColor: "#2F80ED",
            pointBorderColor: "transparent",
            pointHoverBorderColor: "#fff",
            pointHoverBorderWidth: 5,
            pointBorderWidth: 5,
            pointRadius: 8,
            pointHoverRadius: 8,
            order: 3,
          }
        ],
      },

      // Configuration options
      options: {
        tooltips: {
          callbacks: {
            labelColor: function (tooltipItem, chart) {
              return {
                backgroundColor: "#ffffff",
              };
            },
          },
          intersect: false,
          backgroundColor: "#f9f9f9",
          titleFontColor: "#8F92A1",
          titleFontColor: "#8F92A1",
          titleFontSize: 12,
          bodyFontColor: "#171717",
          bodyFontStyle: "bold",
          bodyFontSize: 16,
          multiKeyBackground: "transparent",
          displayColors: false,
          xPadding: 30,
          yPadding: 10,
          bodyAlign: "center",
          titleAlign: "center",
        },

        title: {
          display: false,
        },
        legend: {
          display: false,
        },

        scales: {
          yAxes: [
            {
              gridLines: {
                display: false,
                drawTicks: false,
                drawBorder: false,
              },
              ticks: {
                padding: 20,
                max: 25,
                min: -5,
              },
            },
          ],
          xAxes: [
            {
              gridLines: {
                drawBorder: false,
                color: "rgba(143, 146, 161, .1)",
                zeroLineColor: "rgba(143, 146, 161, .1)",
              },
              ticks: {
                padding: 20,
                maxTicksLimit:20,
              },
            },
          ],
        },
      },
    });
    // =========== fin Graphiques 
  </script>
  </body>
</html>
