
{% extends "layout.html" %}
{% set active_page = "graph" %}
{% block body %}


  <!-- App Capsule -->
  <div id="appCapsule" class="full-height">
    <div class="section mt-1 mb-1">
      
      <div class="section-title">Graphiques</div>

        <!-- ========== Graph 0 Ti & Te ==========-->
        <div class="section">
          <div class="section-title"></div>
            <div class="card">
                <div class="card-body">
                    <div id="chart0"></div>
                </div>
            </div>
        </div>  

       

    </div>
  </div>  
    <!-- * App Capsule -->



  <script>

    // Chart 0 avec Apex Chart
    // Températures intérieure & extérieure
    // Chart Line 
    console.log("Ts:", {{Ts}})
    console.log("Te:", {{Te}})
    console.log("Ti:", {{Ti}})

    var options0 = {
          series: [
          {
            name: "Te",
            data: [{% for item in Te %}
              "{{item}}",
              {% endfor %}]
          },
          {
            name: "Ti",
            data: [{% for item in Ti %}
              "{{item}}",
              {% endfor %}]
          },
        ],
          chart: {
          height: 500,
          type: 'line',
          dropShadow: {
            enabled: false,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
          },
          toolbar: {
            show: true
          }
        },
        colors: ['#77B6EA', '#545454'],
        dataLabels: {
          enabled: false,
        },
        stroke: {
            width: 4,
        },
        title: {
          text: 'Températures',
          align: 'left'
        },
        grid: {
          borderColor: '#e7e7e7',
          
        },
        markers: {
          size: 0
        },
        xaxis: {
          categories: [{% for item in Ts %}
          "{{item}}",
          {% endfor %}],
          
          title: {
            text: 'Date et Heure'
          },
        },
        yaxis: {
          title: {
            text: '°C'
          },
          min: -100,
          max: 100
        },
        legend: {
          position: 'bottom',
          horizontalAlign: 'center',
          floating: true,
          offsetY: 35,
          offsetX: -5
        }
        };

        var chart0 = new ApexCharts(document.querySelector("#chart0"), options0);
        chart0.render();

</script>



{% endblock %}

