<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- no additional media querie or css is required -->
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid">
                    <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search" style="font-size: 32px;"><label class="form-label" style="height: 48px;"><strong>MyBox</strong></label></form>
                    <ul class="navbar-nav flex-nowrap ms-auto">
                        <div class="d-none d-sm-block topbar-divider"></div>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>  
<div class="container">
        <div class="row justify-content-center align-items-center" style="height: 75vh">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="form-signin-heading">Please login... </h2>
                        <form action="/" method=POST autocomplete="off">
                            <div class="form-group">
                                <input type="text" id="username" class="form-control" name="username" placeholder="username">
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" class="form-control" name="password" placeholder="password">
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">submit</button>
                            <p>&nbsp;</p> 
                            <p class="text-danger">{{ error_message }}</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>