<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src='static/Chart.min.js'></script>
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search" style="font-size: 32px;"><label class="form-label" style="height: 48px;"><strong>MyBox</strong></label></form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-xl-3 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>{{ pins[17].name }}</span></div>
                                                <div class="text-dark fw-bold h5 mb-0">
                                                    <form method="POST" action="/cmd" class="center-block">
                                                    {% if pins[17].state == true %} 
                                                    <button type="submit" class="btn btn-danger" name="pin" value="17">Turn OFF</button> 
                                                    {% else %} 
                                                    <button type="submit" class="btn btn-success" name="pin" value="17">Turn ON</button> 
                                                    {% endif %}
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-auto"><img src="static/img/outlet.svg" style="width: 50px;height: 50px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xl-3 mb-4">
                            <div class="card shadow border-start-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>{{ pins[27].name }}</span></div>
                                                <div class="text-dark fw-bold h5 mb-0">
                                                    <form method="POST" action="/cmd" class="center-block">
                                                    {% if pins[27].state == true %} 
                                                        <button type="submit" class="btn btn-danger" name="pin" value="27">Turn OFF</button> 
                                                    {% else %} 
                                                        <button type="submit" class="btn btn-success" name="pin" value="27">Turn ON</button> 
                                                    {% endif %}
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-auto"><img src="static/img/outlet.svg" style="width: 50px;height: 50px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xl-3 mb-4">
                            <div class="card shadow border-start-info py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>{{ pins[22].name }}</span></div>
                                                <div class="text-dark fw-bold h5 mb-0">
                                                    <form method="POST" action="/cmd" class="center-block">
                                                    {% if pins[22].state == true %} 
                                                        <button type="submit" class="btn btn-danger" name="pin" value="22">Turn OFF</button>
                                                    {% else %} 
                                                        <button type="submit" class="btn btn-success" name="pin" value="22">Turn ON</button> 
                                                    {% endif %}
                                                    </form>
                                                </div>
                                            </div>
                                        <div class="col-auto"><img src="static/img/chauffe-eau.png" style="width: 50px;height: 50px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xl-3 mb-4">
                            <div class="card shadow border-start-info py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>{{ pins[20].name }}</span></div>
                                                <div class="text-dark fw-bold h5 mb-0">
                                                    <form method="POST" action="/cmd" class="center-block">
                                                    {% if pins[20].state == true %} 
                                                        <button type="submit" class="btn btn-danger" name="pin" value="20">Turn OFF</button>
                                                    {% else %} 
                                                        <button type="submit" class="btn btn-success" name="pin" value="20">Turn ON</button> 
                                                    {% endif %}
                                                    </form>
                                                </div>
                                            </div>
                                        <div class="col-auto"><img src="static/img/lamp.png" style="width: 50px;height: 50px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-xl-3 mb-6">
                            <div class="card shadow border-start-info py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Température (°Celsius) & Thermostat</span></div>
                                                <div class="text-dark fw-bold h5 mb-0">
                                                    <form method="POST" action="/refresh" class="center-block">
                                                        <p class="text-dark"> {{ temp }}</p><span></span>
                                                        <button type="submit" value="Submit" class="btn btn-primary">Refresh</button>
                                                    </form>   
                                                    <br>
                                                    <form method="POST" action="/set_thermostat" class="center-block">
                                                        <div class="slidecontainer" id="slide_container_f">
                                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span> T.min : {{ Tmin }} </span></div>
                                                            <input type="range" min="0" max="20" value={{Tmin}} class="slider" id="myRange" name="Tmin" oninput="num1.value = this.value">
                                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span> T.max : {{ Tmax }}</span></div>
                                                            <input type="range" min="0" max="20" value={{Tmax}} class="slider" id="myRange" name="Tmax" oninput="num2.value = this.value">
                                                        </div>
                                                        <button type="submit" value="Submit" class="btn btn-primary">Apply</button>
                                                    </form>   
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-xl-6 mb-6">
                            <div class="card shadow border-start-info py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span> Graphique de la temperature </span></div>
                                                        <canvas id="myChart" width="600" height="400"></canvas>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/chart.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/theme.js"></script>
    
    <script>
        
        // Global parameters:
        // do not resize the chart canvas when its container does (keep at 600x400px)
        Chart.defaults.global.responsive = false;
  
        var timeFormat = 'hh:mm:ss';
  
        function newDateString(hours, minutes, seconds) {
          return moment().hour(hours).minute(minutes).second(seconds).format(timeFormat);
        }
  
        // define the chart data
        var chartData = {
          labels : [{% for item in labels %}
                     newDateString( {{item.hour}}, {{item.minute}}, {{item.second}} ),
                    {% endfor %}],
          datasets : [{
              label: '{{ legend }}',
              fill: true,
              lineTension: 0.1,
              backgroundColor: "rgba(75,192,192,0.4)",
              borderColor: "rgba(75,192,192,1)",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: "rgba(75,192,192,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(75,192,192,1)",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data : [{% for item in values %}
                        {{item}},
                      {% endfor %}],
              spanGaps: false
          }]
        }
  
        // get chart canvas
        var holder = document.getElementById("myChart");
        var ctx = document.getElementById("myChart").getContext("2d");
  
        // create a callback function for updating the caption
        var original = Chart.defaults.global.legend.onClick;
        Chart.defaults.global.legend.onClick = function(e, legendItem) {
          update_caption(legendItem);
          original.call(this, e, legendItem);
        };
  
        // create the chart using the chart canvas
        var myChart = new Chart(ctx, {
          type: 'line',
          data: chartData,
          options: {
            tooltips: {
              enabled: true,
              mode: 'single',
              callbacks: {
                label: function(tooltipItems, data) {
                         firstPointCtx = "First Point Selected: (2:20PM, 72.3 degrees)";
                         return tooltipItems.yLabel + ' degrees';
                       }
              }
            },
          }
        });
  
        // get the text element below the chart
        var pointSelected = document.getElementById("pointSelected");
  
        // create a callback function for updating the selected index on the chart
        holder.onclick = function(evt){
          var activePoint = myChart.getElementAtEvent(evt);
          console.log(activePoint);
          console.log('x:' + activePoint[0]._view.x);
          console.log('maxWidth: ' + activePoint[0]._xScale.maxWidth);
          console.log('y: ' + activePoint[0]._view.y);
          console.log('index: ' + activePoint[0]._index);
          pointSelected.innerHTML = 'Point selected... index: ' + activePoint[0]._index;
        };
      </script>
</body>
</html>