{% extends "layout.html" %} {% set active_page = "parameters" %} {% block body
%}

<script>
  window.onload = function () {
    getParameters();
    updateCompressionValue();
  };
</script>

<!-- App Capsule -->
<div id="appCapsule" class="full-height">
  <div class="section mt-1 mb-1">
    <div class="section-title">Paramètres système</div>

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="form-group basic">
              <div class="form-check">
                {% if DEBUG == true %}

                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  checked
                  id="DEBUG"
                  onchange="debug_mode(this.checked)"
                />
                <label class="form-check-label" for="DEBUG"> Debug mode </label>

                {% else %}

                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  unchecked
                  id="DEBUG"
                  onchange="debug_mode(this.checked)"
                />
                <label class="form-check-label" for="DEBUG"> Debug mode </label>

                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="form-group basic">
              <div class="form-check">
                {% if FAN == true %}

                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  checked
                  id="fan"
                  onchange="fan(this.checked)"
                />
                <label class="form-check-label" for="fan"> Ventilation </label>

                {% else %}

                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  unchecked
                  id="fan"
                  onchange="fan(this.checked)"
                />
                <label class="form-check-label" for="fan"> Ventilation </label>

                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="section-title">Caméra</div>
    <div class="row">
      <div class="col">
        <div class="card" style="height: 80px">
          <div class="card-body">
            <div class="form-group basic">
              <div class="input-wrapper">
                <label class="label" for="compression"
                  >Compression vidéo
                </label>

                <input
                  style="margin-top: 10px"
                  type="range"
                  min="0"
                  max="100"
                  class="form-control-range"
                  id="compression"
                  onchange="updateCompressionValue()"
                />
                <span id="compressionValue"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="height: 80px">
          <div class="card-body">
            <div class="form-group basic">
              <div class="input-wrapper">
                <label class="label" for="compression">Résolution camera</label>

                <select
                  class="form-select form-select currency"
                  id="resolution"
                  onchange="resolution()"
                >
                  <option value="640x480" selected>640x480</option>
                  <option value="1280x720">1280x720</option>
                  <option value="1920x1080">1920x1080</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
  </div>
  
    <form
      method="POST"
      role="form"
      action="/saveparameters"
      class="center-block"
    >
      <div class="section mt-1 mb-1">
        <div class="section-title">
          Températures pour thermostat chauffage [°C]
        </div>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="form-group basic">
                  <div class="input-wrapper">
                    <label class="label" for="Tmax">Maximale</label>
                    <input
                      type="number"
                      class="form-control"
                      id="TMAX"
                      name="TMAX"
                      min="0"
                      max="50"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="form-group basic">
                  <div class="input-wrapper">
                    <label class="label" for="Tmin">Minimale</label>
                    <input
                      type="number"
                      class="form-control"
                      id="TMIN"
                      name="TMIN"
                      min="0"
                      max="50"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section mt-2">
        <div class="section-title">
          Fréquence des mesures et affichages [sec.]
        </div>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="form-group basic">
                  <div class="input-wrapper">
                    <label class="label" for="INTERVAL_DISPLAY"
                      >Affichage sur écrans
                    </label>
                    <input
                      type="number"
                      class="form-control"
                      id="INTERVAL_DISPLAY"
                      name="INTERVAL_DISPLAY"
                      min="0"
                      max="100"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="form-group basic">
                  <div class="input-wrapper">
                    <label class="label" for="INTERVAL_LOOP"
                      >Interval entre mesures</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="INTERVAL_LOOP"
                      name="INTERVAL_LOOP"
                      min="0"
                      max="3600"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section mt-2">
        <div class="section-title">Planifier activation prise 240V [hh:mm]</div>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="form-group basic">
                  <div class="input-wrapper">
                    <label class="label" for="INTERVAL_DISPLAY"
                      >Démarrage
                    </label>
                    <input
                      type="time"
                      class="form-control"
                      id="SCHEDULER_START"
                      name="SCHEDULER_START"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="form-group basic">
                  <div class="input-wrapper">
                    <label class="label" for="SCHEDULER_STOP">Arrêt</label>
                    <input
                      type="time"
                      class="form-control"
                      id="SCHEDULER_STOP"
                      name="SCHEDULER_STOP"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section mt-2">
        <div>
          <button
            type="submit"
            class="btn btn-primary me-1"
            onclick="InformSaveParameters()"
          >
            Sauvegarder
          </button>
          <label
            id="info"
            style="color: rgb(255, 0, 0)"
            style="font-size: 15px; margin-left: 10px"
          >
          </label>
        </div>
      </div>
    </form>
  </div>

  <script type="text/javascript">
    // fonction appelée lors de la sauvegarde des paramètres de configuration

    function InformSaveParameters() {
      console.log("sauvegarde des paramètres de configurations effectuée");
      document.getElementById("info").innerHTML =
        "sauvegarde sur disque en cours ...";
      setTimeout(() => {
        document.getElementById("info").innerHTML = "";
      }, 1000);
    }
  </script>

  {% endblock %}
</div>
